language: java
sudo: required

jdk:
  - oraclejdk8

before_install:
  - wget -O - https://github.com/jphp-compiler/jphp/releases/download/jppm-0.2.7/jppm-setup-0.2.7.sh | bash

script:
- jppm install
- jppm build+test