
<h1>Twig Error</h1>

<pre>
<div style="color: red;">{{ error.templateMessage }}</div>
  -> in <b>view/{{ error.templateName }}.twig</b> on line <b>{{ error.templateLine }}</b>.
</pre>

<hr />

<pre>
{{ error.traceAsString }}
</pre>